# **05장 파이썬 날개달기**

## **1) 오류는 언제 발생하는가?**

오류를 처리하는 방법을 공부하기 전에 어떤 상황에서 오류가 발생하는지 한번 알아보자. 오타를 입력했을 때 발생하는 구문 오류 같은 것이 아닌 실제 프로그램에서 자주 발생하는 오류를 중심으로 살펴보자.

첫번째, FileNotFoundError 존재하지 않는 파일을 사용하려고 시도했을 때 발생하는 오류이다.

>>> f = open("나없는파일", 'r')
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
FileNotFoundError: [Errno 2] No such file or directory: '나없는파일'

아래 명령을 ctl+enter 하면 위와같은 오류가 나타남을 볼수있다.

In [ ]:
>>> f = open("나없는파일", 'r')

위 예에서 볼 수 있듯이 없는 파일을 열려고 시도하면 FileNotFoundError 오류가 발생한다.

두번째, 0으로 다른 숫자를 나누는 경우, 이 역시 자주 발생하는 오류이다.

>>> 4 / 0
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ZeroDivisionError: division by zero

아래 명령을 ctl+enter 하면 위와같은 오류가 나타남을 볼수있다.

In [ ]:
>>> 4 / 0

를 0으로 나누려고 하니 ZeroDivisionError 오류가 발생한다.

세번째, 리스트에 없는 값  IndexError

>>> a = [1, 2, 3]
>>> a[3]
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
IndexError: list index out of range

아래 명령을 ctl+enter 하면 위와같은 오류가 나타남을 볼수있다.

In [55]:
>>> a = [1, 2, 3]
>>> a[3]

IndexError: list index out of range

a[3]은 a의 네 번째 요솟값을 가리키는데, a 리스트에는 값이 3개밖에 없으므로([1, 2, 3]) 값을 얻을 수 없다. 

따라서 IndexError 오류가 발생한다. 파이썬은 이런 오류가 발생하면 프로그램을 중단하고 오류 메시지를 보여 준다.

## **2) 오류 예외 처리 기법**

1. try-except 2. try-finally 
3. try-else문

try:  
    실행 코드  

    
except:  
    예외가 발생했을 때 수행할 코드  

    
else:  
    예외가 발생하지 않았을 때 수행할 코드

    
finally:  
    예외 발생 여부와 상관없이 항상 수행할 코드

### **1. try-except**

**1) try-except만 쓰는 방법**

In [21]:
try:
    ...
except:
    ...

이 경우에는 오류의 종류에 상관없이 오류가 발생하면 except 블록을 수행한다.

**2) 발생 오류만 포함한 except 문**

In [27]:
try:
    ...
except 발생오류:
    ...

In [48]:
try:
    ...
except FileNotFoundError:
    ...

In [44]:
try:
    b = 3 / 0
except ZeroDivisionError:
    print("0으로 나누면 안되요")

0으로 나누면 안되요

이 경우는 오류가 발생했을 때 except 문에 미리 정해 놓은 오류와 동일한 오류일 경우에만 except 블록을 수행한다는 뜻이다.

**3) 발생 오류와 오류 변수까지 포함한 except 문**

In [38]:
try:
    ...
except 발생오류 as 오류변수:
    ...

이 경우는 두 번째 경우에서 오류의 내용까지 알고 싶을 때 사용하는 방법이다.

이 방법의 예를 들어 보면 다음과 같다.

In [ ]:
try:
    4 / 0
except ZeroDivisionError as e:
    print(e)

위처럼 4를 0으로 나누려고 하면 ZeroDivisionError가 발생하여 except 블록이 실행되고 오류 변수 e에 담기는 오류 메시지를 출력할 수 있다.

division by zero가 출력된다

In [2]:
try:
    4 / 0
except ZeroDivisionError as e:
    print(e)

division by zero

### **2. try-finally**

try 문에는 finally 절을 사용할 수 있다. finally 절은 try 문 수행 도중 예외 발생 여부에 상관없이 항상 수행된다. 

보통 finally 절은 사용한 리소스를 close해야 할 때 많이 사용한다.

다음 예를 살펴보자.

In [ ]:
# try_finally.py
try:
    f = open('foo.txt', 'w')
    # 무언가를 수행한다.

    (... 생략 ...)

finally:
    f.close()  # 중간에 오류가 발생하더라도 무조건 실행된다.

foo.txt 파일을 쓰기 모드로 연 후 예외 발생 여부에 상관없이 항상 파일을 닫아 주려면 try-finally 문을 사용하면 된다.

### **3. try-else**

try 문에는 다음처럼 else 절을 사용할 수도 있다.

try:
    ...
except [발생오류 [as 오류변수]]:
    ...
else:  # 오류가 없을 경우에만 수행
    ...

try 문 수행 중 오류가 발생하면 except 절, 오류가 발생하지 않으면 else 절이 수행된다.

다음은 try 문에 else 절을 사용한 간단한 예제이다.

In [ ]:
try:
    age=int(input('나이를 입력하세요: '))
except:
    print('입력이 정확하지 않습니다.')
else:
    if age <= 18:
        print('미성년자는 출입금지입니다.')
    else:
        print('환영합니다.')

위 명령에 숫자가 아닌 다른값을 입력하면 오류가 발생하여 '입력이 정확하지 않습니다.'라는 문장을 출력한다. 오류가 없을 경우에만 else 절이 수행된다.

## **3) 오류 회피하기**

코드를 작성하다 보면 특정 오류가 발생할 경우 그냥 통과시켜야 할 때가 있다. 다음 예를 살펴보자.

In [60]:
# error_pass.py
try:
    f = open("나없는파일", 'r')
except FileNotFoundError:
    pass

try 문 안에서 FileNotFoundError가 발생할 경우, pass를 사용하여 오류를 그냥 회피하도록 작성한 예제이다.

## **05-5 내장 함수**

![내장함수](https://wikidocs.net/images/page/32/05_5_reinvent_wheel.png)

"이미 있는 것을 다시 만드느라 시간을 낭비하지 말라."

파이썬 내장(built-in) 함수를 먼저 살펴보자. 우리는 이미 몇 가지 내장 함수를 배웠다. (print, del, type 등)
이러한 파이썬 내장 함수는 파이썬 모듈과 달리 import가 필요하지 않기 때문에 아무런 설정 없이 바로 사용할 수 있다.

활용 빈도가 높고 중요한 함수를 중심으로 알파벳 순서대로 간략히 정리했다. 파이썬으로 프로그래밍을 하기 위해 이들 함수를 지금 당장 모두 알아야 하는 것은 아니므로, 몇가지만 알아보자

[abs](#abs)  
[all](#all)  
[any](#any)  
[chr](#chr)  
[dir](#dir)  
[divmod](#divmod)   
[enumerate](#enumerate)  
[eval](#eval)  
[filter](#filter)  
[hex](#hex)  
[id](#id)   
[input](#input)  
[int](#int)  
[isinstance](#isinstance)   
[len](#len)  
[list](#list)  
[map](#map)  
[max](#max)  
[min](#min)  
[oct](#oct)  
[open](#open)  
[ord](#ord)  
[pow](#pow)  
[range](#range)  
[round](#round)  
[sorted](#sorted)  
[srt](#srt)  
[sum](#sum)  
[tuple](#tuple)   
[type](#type)   
[zip](#zip)

### **abs**

abs(x)는 어떤 숫자를 입력받았을 때 그 숫자의 절댓값을 리턴하는 함수이다.

In [ ]:
>>> abs(3)
3

In [ ]:
>>> abs(-3)
3

In [ ]:
>>> abs(-1.2)
1.2

### **len**

len(s)는 입력값 s의 길이(요소의 전체 개수)를 리턴하는 함수이다.

In [ ]:
>>> len("python")
6

In [ ]:
>>> len([1,2,3])
3

In [ ]:
>>> len((1, 'a'))
2

### **max**

max(iterable)은 인수로 반복 가능한 데이터를 입력받아 그 최댓값을 리턴하는 함수이다.

In [ ]:
>>> max([1, 2, 3])
3

In [ ]:
>>> max("python")
'y'

### **min**

min(iterable)은 max 함수와 반대로, 인수로 반복 가능한 데이터를 입력받아 그 최솟값을 리턴하는 함수이다.

In [ ]:
>>> min([1, 2, 3])
1

In [ ]:
>>> min("python")
'h'

### **pow**

pow(x, y)는 x를 y제곱한 결괏값을 리턴하는 함수이다.

In [ ]:
>>> pow(2, 4)
16

In [ ]:
>>> pow(3, 3)
27

### **range**

range([start,] stop [,step])은 for 문과 함께 자주 사용하는 함수이다. 이 함수는 입력받은 숫자에 해당하는 범위 값을 반복 가능한 객체로 만들어 리턴한다.

##### **1) 인수가 하나일 경우**

시작 숫자를 지정해 주지 않으면 range 함수는 0부터 시작한다.

In [57]:
>>> list(range(5))
[0, 1, 2, 3, 4]

[0, 1, 2, 3, 4]

##### **2) 인수가 2개일 경우**

입력으로 주어지는 2개의 인수는 시작 숫자와 끝 숫자를 나타낸다. 단, 끝 숫자는 해당 범위에 포함되지 않는다는 것에 주의하자.

In [ ]:
>>> list(range(5, 10))
[5, 6, 7, 8, 9]

##### **3) 인수가 3개일 경우**

세 번째 인수는 숫자 사이의 거리를 말한다.

In [ ]:
>>> list(range(1, 10, 2))
[1, 3, 5, 7, 9]

In [ ]:
>>> list(range(0, -10, -1))
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

### **round**

round(number [,ndigits])는 숫자를 입력받아 반올림해 리턴하는 함수이다.

[,ndigits]는 ndigits가 있을 수도 있고, 없을 수도 있다는 의미이다.

In [ ]:
>>> round(4.6)
5

In [ ]:
>>> round(4.2)
4

다음과 같이 실수 5.678을 소수점 2자리까지만 반올림하여 표시할 수 있다.

In [ ]:
>>> round(5.678, 2)
5.68

round 함수의 두 번째 인수는 반올림하여 표시하고 싶은 소수점의 자릿수(ndigits)를 의미한다.

### **map**

In [ ]:
map(f, iterable)은 함수(f)와 반복 가능한 데이터를 입력으로 받는다. map은 입력받은 데이터의 각 요소에 함수 f를 적용한 결과를 리턴하는 함수이다.

In [71]:
# two_times.py
def two_times(numberList):
    result = []
    for number in numberList:
        result.append(number*2)
    return result

result = two_times([1, 2, 3, 4])
print(result)

[2, 4, 6, 8]

two_times는 리스트를 입력받아 리스트의 각 요소에 2를 곱해 리턴하는 함수이다. 실행 결과는 [2, 4, 6, 8] 이다.

위 예제는 map 함수를 사용하여 다음처럼 바꿀 수 있다.

In [ ]:
>>> def two_times(x): 
...     return x*2
...
>>> list(map(two_times, [1, 2, 3, 4]))
[2, 4, 6, 8]

이 예제를 해석해 보자. 먼저 리스트의 첫 번째 요소인 1이 two_times 함수의 입력값으로 들어가고 1 * 2의 과정을 거쳐서 2가 된다. 

다음으로 리스트의 두 번째 요소인 2가 2 * 2의 과정을 거쳐 4가 된다. 따라서 결괏값은 이제 [2, 4]가 된다. 

총 4개의 요솟값이 모두 수행되면 [2, 4, 6, 8]이 된다. 이것이 map 함수가 하는 일이다.

map 함수의 결과를 리스트로 출력하기 위해 list 함수를 사용했다. map 함수는 map 객체를 리턴한다.

### **sum**

sum(iterable)은 입력 데이터의 합을 리턴하는 함수이다.

In [ ]:
>>> sum([1,2,3])
6

In [ ]:
>>> sum((4,5,6))
15

### **sorted**

sorted(iterable)는 입력 데이터를 정렬한 후 그 결과를 리스트로 리턴하는 함수이다.

In [ ]:
>>> sorted([3, 1, 2])
[1, 2, 3]

In [ ]:
>>> sorted(['a', 'c', 'b'])
['a', 'b', 'c']

In [ ]:
>>> sorted("zero")
['e', 'o', 'r', 'z']

In [ ]:
>>> sorted((3, 2, 1))
[1, 2, 3]

### **filter**

filter란 ‘무엇인가를 걸러 낸다’라는 뜻으로, filter 함수도 이와 비슷한 기능을 한다.

filter(함수, 반복_가능한_데이터)

filter 함수는 첫 번째 인수로 함수, 두 번째 인수로 그 함수에 차례로 들어갈 반복 가능한 데이터를 받는다. 

그리고 반복 가능한 데이터의 요소 순서대로 함수를 호출했을 때 리턴값이 참인 것만 묶어서(걸러 내서) 리턴한다.

In [88]:
def positive(l): 
    result = [] 
    for i in l: 
        if i > 0: 
            result.append(i) 
    return result

print(positive([1,-3,2,0,-5,6]))

[1, 2, 6]

위에서 만든 positive는 리스트를 입력으로 받아 각각의 요소를 판별해서 양수 값만 리턴하는 함수이다.

filter 함수를 사용하면 위 내용을 다음과 같이 간단하게 작성할 수 있다.

In [92]:
def positive(x):
    return x > 0

print(list(filter(positive, [1, -3, 2, 0, -5, 6])))

[1, 2, 6]

filter(positive, [1, -3, 2, 0, -5, 6])은 [1, -3, 2, 0, -5, 6]의 각 요솟값을 순서대로 positive 함수에 적용하여 리턴값이 참인 것만 묶어서 리턴한다. 

즉, 1, 2, 6 요소만 x > 0 문장에 참이 되므로 [1, 2, 6]이라는 결괏값이 출력된다.

list 함수는 filter 함수의 리턴값을 리스트로 출력하기 위해 사용했다.

### **연습문제**

sum 함수와 range 함수를 이용하여 1-10까지 더하는 명령어를 작성해보자

In [7]:
>>> sum(range(1, 11))

55

In [17]:
>>> sum(range(1, 1000))

499500

In [46]:
def IC50(x):
    return x > 3

print(list(filter( IC50, [1, -3, 2, 0, -5, 6])))

[6]

In [48]:
def IC50(x):
    return x < 3

print(list(filter( IC50, [1, -3, 2, 0, -5, 6])))

[1, -3, 2, 0, -5]